[submodule ".registry"]
	path = .registry
	url = https://github.com/ateucher/ateucher.r-universe.dev
	branch = HEAD
[submodule "bcdata"]
	path = bcdata
	url = https://github.com/bcgov/bcdata
[submodule "bcmaps"]
	path = bcmaps
	url = https://github.com/bcgov/bcmaps
[submodule "lutz"]
	path = lutz
	url = https://github.com/ateucher/lutz
[submodule "rmapshaper"]
	path = rmapshaper
	url = https://github.com/ateucher/rmapshaper
