[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lutz"]
	path = lutz
	url = https://github.com/ateucher/lutz
[submodule "rmapshaper"]
	path = rmapshaper
	url = https://github.com/ateucher/rmapshaper
